@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  font-size: 100%;
}
body {
  font-family: var(--font-family-primary);
  font-size: var(--font-size-300);

  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: var(--font-size-100);
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.1;
  font-weight: var(--font-weight-900);
  font-family: var(--font-family-secondary);
  color: var(--clr-neutral-500);
  text-align: center;
}

p {
  text-align: center;
}

button,
a,
a:visited,
a:active {
  text-decoration: none;
  cursor: pointer;
}
